*{
    /* margin: 0;
    padding: 0; */
    background: rgba(158, 238, 189, 0.534);
    font-family: 'Nunito', sans-serif;
}
td{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
}

table tr:first-child td{ 
    border-top: 0;
}
table tr:last-child td{ 
    border-bottom: 0;
}
table tr td:first-child{ 
    border-left: 0;
}
table tr td:last-child{ 
    border-right: 0;
}
.endgame
{
    width: 318px;
    top: 22vh;
    background-color: rgb(158, 238, 189);
    position: absolute;
    left: 45vw;
    margin-left: -100px;
    padding: 30px 0px;
    text-align: center;
    border-radius: 9px ;
    border :5px double  black;
    color: black;
    font-size: 2em;
}
#butt{
    position: absolute ;
    top :70vh;
    right :47%;
    width: 80px;
    height: 40px;
    font-size: large;
    font-family: 'Nunito', sans-serif;
    font-weight: 2000;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 9px;
}